.register-form,
.register-form-b {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.register-form-b {
  width: 100%;
  background-color: var(--Others-White);
  overflow: hidden;
  position: relative;
  isolation: isolate;
  gap: 42px;
  line-height: normal;
  letter-spacing: normal;
}
.register-form {
  height: 811px;
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-20);
}
.background {
  align-self: stretch;
  width: 9px;
  position: relative;
  background-color: var(--color-royalblue);
}
.register,
.register-child {
  width: 722px;
  position: relative;
  background-color: var(--Others-White);
}
.register {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 66px 59px;
  box-sizing: border-box;
  isolation: isolate;
  gap: 23px;
  max-width: calc(100% - 29px);
}
.register-child {
  height: 811px;
  display: none;
  max-width: 100%;
  z-index: 0;
  flex-shrink: 0;
}
.call-to-action {
  width: 430px;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-8);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.iniciemos {
  margin: 0;
  width: 175px;
  flex: 1;
  position: relative;
  font-size: 40px;
  font-weight: 400;
  font-family: var(--font-rounded-mplus-1c);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.account-prompt {
  align-self: stretch;
  height: 37px;
  display: flex;
  align-items: flex-start;
  gap: 60px;
}
.inicia-sesin,
.ya-tienes-cuenta {
  align-self: stretch;
  position: relative;
  font-size: 25px;
  font-family: var(--font-rounded-mplus-1c);
  text-align: left;
}
.ya-tienes-cuenta {
  margin: 0;
  flex: 1;
  font-weight: 400;
  color: var(--color-gray-300);
  z-index: 2;
}
.inicia-sesin {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: 149px;
  font-weight: 500;
  color: var(--color-royalblue);
  display: inline-block;
  z-index: 1;
}
.frame-parent {
  align-self: stretch;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.nombre-de-usuario-wrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-6);
}
.nombre-de-usuario {
  width: 157px;
  position: relative;
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.frame-child,
.rectangle-parent {
  border-radius: var(--br-13);
  background-color: var(--Others-White);
  border: var(--border-1);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-7) var(--padding-8) var(--padding-9);
  gap: var(--gap-20);
  z-index: 1;
}
.frame-child {
  height: var(--height-49_4);
  width: var(--width-592_4);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.user-type-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.user {
  width: var(--width-25);
  height: var(--height-25);
  position: relative;
  z-index: 2;
}
.nombre-de-usuario2,
.tipo-de-usuario {
  position: relative;
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.nombre-de-usuario2 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  color: var(--color-gray-500);
  padding: var(--padding-01);
  flex-shrink: 0;
}
.tipo-de-usuario {
  width: 130px;
  color: var(--color-gray-300);
}
.rectangle-group {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-13);
  background-color: var(--Others-White);
  border: var(--border-1);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-7) 53px var(--padding-9);
  max-width: 100%;
  z-index: 1;
}
.seleccione-tipo-de {
  width: 220px;
  position: relative;
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  z-index: 2;
  flex-shrink: 0;
}
.location-details-parent {
  gap: 23px;
  flex-shrink: 0;
}
.location-details,
.location-details-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.locacin,
.seleccione-locacin {
  position: relative;
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.locacin {
  color: var(--color-gray-300);
  min-width: 74px;
}
.seleccione-locacin {
  width: 162px;
  color: var(--color-gray-500);
  flex-shrink: 0;
}
.location-details-inner {
  width: 499px;
  height: 27px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-6);
  box-sizing: border-box;
  max-width: 100%;
}
.fecha-de-nacimiento-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 124px;
  max-width: 100%;
}
.fecha-de-nacimiento,
.nmero-de-telfono {
  flex: 1;
  position: relative;
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  color: var(--color-gray-300);
  text-align: left;
  z-index: 2;
}
.nmero-de-telfono {
  z-index: 1;
}
.phone-details-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-12);
}
.phone-details,
.phone-details-child {
  border-radius: var(--br-13);
  background-color: var(--Others-White);
  border: var(--border-1);
}
.phone-details {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-7) var(--padding-8) var(--padding-9);
  gap: 22.6px;
  z-index: 1;
}
.phone-details-child {
  height: var(--height-49_4);
  width: 291.4px;
  position: relative;
  box-sizing: border-box;
  display: none;
  flex-shrink: 0;
}
.mail-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.mail,
.xx-xx-xxxx {
  position: relative;
  z-index: 2;
}
.mail {
  width: 26.9px;
  height: var(--height-25);
}
.xx-xx-xxxx {
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  min-width: 88.3px;
  flex-shrink: 0;
}
.frame-container,
.phone-details2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.phone-details2 {
  flex: 0.6378;
  border-radius: var(--br-13);
  background-color: var(--Others-White);
  border: var(--border-1);
  padding: var(--padding-7) 57px var(--padding-9);
  z-index: 1;
}
.frame-container {
  height: 107px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 33px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.contrasea {
  position: relative;
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.rectangle-container {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-13);
  background-color: var(--Others-White);
  border: var(--border-1);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-7) var(--padding-20) var(--padding-9) 53px;
  gap: var(--gap-20);
  max-width: 100%;
  z-index: 1;
}
.ingrese-contrasea-10-32 {
  width: calc(100% - 93px);
  border: 0;
  outline: 0;
  font-family: var(--font-rounded-mplus-1c);
  font-size: var(--fs-18);
  background-color: transparent;
  height: 27px;
  position: relative;
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  padding: var(--padding-01);
  max-width: calc(100% - 40px);
  z-index: 2;
  flex-shrink: 0;
}
.hide-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.hide-icon {
  width: var(--width-20);
  height: var(--height-20);
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.email {
  align-self: stretch;
  height: 74px;
  position: relative;
  display: none;
  z-index: 6;
  flex-shrink: 0;
}
.email-child {
  position: absolute;
  top: 27px;
  left: 0;
  border-radius: var(--br-13);
  background-color: var(--Others-White);
  border: var(--border-1);
  box-sizing: border-box;
  width: var(--width-592_4);
  height: var(--height-49_4);
}
.mail-icon {
  position: absolute;
  top: 38px;
  left: 9px;
  width: var(--width-25);
  height: var(--height-25);
  object-fit: cover;
}
.email-address,
.email2 {
  position: absolute;
  font-size: var(--fs-18);
  font-family: var(--font-rounded-mplus-1c);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
}
.email2 {
  top: 37px;
  left: 55px;
  opacity: 0.5;
  min-width: 46px;
}
.email-address {
  top: 0;
  left: 6px;
  min-width: 117px;
}
.sign-up-action {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 187px var(--padding-0) 190px;
  flex-shrink: 0;
}
.sign-up-button,
.sign-up-button-child {
  height: 50px;
  border-radius: 23.5px;
  background-color: var(--color-royalblue);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
}
.sign-up-button {
  cursor: pointer;
  padding: 6.5px 25px 9.5px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}
.sign-up-button:hover {
  background-color: var(--color-dodgerblue);
  border: 1.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
}
.sign-up-button-child {
  width: 213px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.solicitar-acceso {
  position: relative;
  font-size: 21px;
  font-family: var(--font-rounded-mplus-1c);
  color: var(--Others-White);
  text-align: center;
  z-index: 1;
  flex-shrink: 0;
}
.user-icon {
  top: 226px;
}
.address-icon,
.name-tag-woman-horizontal,
.user-icon {
  width: var(--width-25);
  height: var(--height-25);
  position: absolute;
  margin: 0 !important;
  left: 76px;
  object-fit: cover;
  z-index: 3;
  flex-shrink: 0;
}
.name-tag-woman-horizontal {
  top: 323px;
}
.address-icon {
  bottom: 366px;
}
.calendar-icon {
  bottom: 269px;
  left: 76px;
}
.calendar-icon,
.lock-icon,
.shake-phone-icon {
  width: var(--width-25);
  height: var(--height-25);
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
  z-index: 3;
  flex-shrink: 0;
}
.shake-phone-icon {
  right: 320px;
  bottom: 270px;
}
.lock-icon {
  bottom: 172px;
  left: 76px;
}
.canvas {
  height: 811px;
  width: 477px;
  position: relative;
  border-radius: 79px 0 0 79px;
  background-color: var(--color-royalblue);
  max-width: 100%;
}
.header {
  width: 131px;
  margin: 0 !important;
  position: absolute;
  top: 13px;
  right: 17px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
}
.minus-icon {
  height: var(--height-17);
  width: 17px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: overlay;
  z-index: 1;
}
.header-background-wrapper {
  height: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.header-background {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-01);
  background-color: transparent;
  width: 13px;
  height: var(--height-13);
  position: relative;
  box-sizing: border-box;
  mix-blend-mode: overlay;
  z-index: 1;
}
@media screen and (max-width: 1100px) {
  .iniciemos {
    font-size: 32px;
  }
  .register-form-b {
    flex-wrap: wrap;
  }
  .canvas {
    flex: 1;
  }
}
@media screen and (max-width: 1050px) {
  .register-form-b {
    flex-wrap: wrap;
  }
  .canvas {
    flex: 1;
  }
}
@media screen and (max-width: 1025px) {
  .iniciemos {
    font-size: 32px;
  }
}
@media screen and (max-width: 1000px) {
  .iniciemos {
    font-size: 32px;
  }
}
@media screen and (max-width: 750px) {
  .register-form-b {
    gap: 21px;
  }
  .register-form {
    min-width: 100%;
  }
  .register {
    padding: 39px 33px 38px;
    box-sizing: border-box;
  }
  .fecha-de-nacimiento-parent {
    gap: 62px;
    flex-wrap: wrap;
  }
  .phone-details-parent {
    flex-wrap: wrap;
  }
  .rectangle-container {
    padding-left: var(--padding-26);
    box-sizing: border-box;
  }
  .sign-up-action {
    padding-left: 95px;
    padding-right: 93px;
    box-sizing: border-box;
  }
  .canvas {
    min-width: 100%;
  }
}
@media screen and (max-width: 725px) {
  .register-form-b {
    gap: 21px;
  }
  .register-form {
    min-width: 100%;
  }
  .register {
    padding: 39px 33px 38px;
    box-sizing: border-box;
  }
  .fecha-de-nacimiento-parent {
    gap: 62px;
    flex-wrap: wrap;
  }
  .phone-details-parent {
    flex-wrap: wrap;
  }
  .rectangle-container {
    padding-left: var(--padding-26);
    box-sizing: border-box;
  }
  .sign-up-action {
    padding-left: 95px;
    padding-right: 93px;
    box-sizing: border-box;
  }
  .canvas {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .iniciemos {
    font-size: 24px;
  }
  .account-prompt {
    gap: 30px;
    flex-wrap: wrap;
  }
  .inicia-sesin,
  .ya-tienes-cuenta {
    font-size: var(--fs-20);
  }
  .rectangle-group {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .phone-details2 {
    flex: 1;
  }
  .phone-details2,
  .sign-up-action {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
